
body {
    background-color: #777;
    color: #ebebeb;
    width: 960px;
}

header, nav, footer {
    /* Box Model */
    background-color: #ebebeb;
    color: #777;
    height: 200px;
    width: 100%;
    margin: 30px;
    padding: 30px;
    /* box-sizing: border-box; */
    /* Positioning */
    text-align: center;
    line-height: 200px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    padding-top: 10px;
    
}

section {
    background-color: #ebebeb;
    color: #777;
    width: 495px;
    /* float, padding, margin, display, overflow, clear and text-align */
}

aside {
    background-color: #777;
}

article {
    background-color: #777;
}

.clear {
    background-color: #777;
}

h1, p {
    background-color: #777;
}